doctype html
html
  head
    title My Restaurant App
  body
    header
      h1 Welcome to My Restaurant
    main
      p This is the main content of the page.
    footer
      p © 2024 My Restaurant. All rights reserved.
